[user]
	name = Ronan Chilvers
	email = ronan@d3r.com
    signingkey = 82B13555
[core]
	excludesfile = ~/.gitignore_global
    fileMode = false
[color]
    ui = auto
[push]
    default = simple
[alias]
    br = branch
    ci = commit
    co = checkout
    graph = log --oneline --graph --decorate
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    logp = log -p
    r = remote
    st = status
    unstage = reset HEAD
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[commit]
    template = ~/.stCommitMsg
    gpgsign = true
[gpg]
    program = /usr/local/bin/gpg
[status]
    submodulesummary = 1
[github]
    user = ronanchilvers
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
  insteadOf = https://gitlab.com/
[url "ssh://git@bitbucket.org/"]
  insteadOf = https://bitbucket.org/
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[mergetool "smerge"]
	cmd = smerge mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
[merge]
	tool = smerge
